.row
  .large-12.columns
    h1 JeeBoot

    table(cellpadding=10)
      tr
        td
          button(ng-click='echoTest()') RPC Echo
      tr
        td(colspan=1)
          | {{ message }} &nbsp;
