.row       
	.large-6.columns
		ghgraph(key='homepower/rf12-9/p3')
	.large-6.columns
		ghgraph(key='homepower/rf12-9/c3')
.row       
	.large-6.columns
		ghgraph(key='homepower/rf12-9/p1')
	.large-6.columns
		ghgraph(key='homepower/rf12-9/c2')